* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: Sans-serif;
}

body{
  max-height: 100vh;
  max-width: 100vw;
}


header{
  font-size: 50px;
  line-height: 110%;
  height: 100vh;
  /* background-color: #FF6500; */
  background-color: #e6e6e6;
  color: #FF6500;
}

#headerp{
  padding: 15px;
}

.flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #e6e6e6; 
  padding-right: 50px;
}

.nav-bar{
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  background: #e6e6e6;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: #FF6500;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background: #e6e6e6;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #d4d4d4;
}

ul li:hover ul.dropdown {
  display: block;
}

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
} 

.img-wrapper{
  position: relative;
  overflow: hidden;
  
}

.img-wrapper > img {
  display: block;
}

.img-wrapper > .content {
position: absolute;
inset: 0;
padding: 2rem;
background: #FF6500;
opacity: .8;
display: flex;
justify-content: center;
align-items: center;
}
  
.img-wrapper > img, 
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

img{
vertical-align: middle;
display: inline-block;
}


.cassette{
  width: 100px;
  height: 150px;
  
}

.record{
  width: 350px;
}

.cd{
  width: 200px;
}

/* shoegaze */

.shoegaze{
  font-size: 50px;
  line-height: 110%;
  height: 100vh;
  /* background-color: #FF6500; */
  background-color: #e6e6e6;
  color: #0037ff;
}

.flex-wrapper2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #e6e6e6; 
  padding-right: 50px;
}

.nav-bar2{
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  background: #e6e6e6;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li .shoegaze1 {
  display: block;
  padding: 20px 25px;
  color: #0037ff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown2 li {
  display: block;
}

ul li ul.dropdown2 {
  width: 100%;
  background: #e6e6e6;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #d4d4d4;
}

ul li:hover ul.dropdown2 {
  display: block;
}

.container2 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
} 

.img-wrapper2{
  position: relative;
  overflow: hidden;
  
}

.img-wrapper2 > img {
  display: block;
}


.img-wrapper2 > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background: #0037ff;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-wrapper2 > img, 
.img-wrapper2 > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper2 > .content.fade {
  opacity: 0;
}

.img-wrapper2:hover > .content.fade {
  opacity: 1;
}

/* hardcore */

.hardcore{
  font-size: 50px;
  line-height: 110%;
  height: 100vh;
  /* background-color: #FF6500; */
  background-color: #e6e6e6;
  color: #00c603;
}

.flex-wrapper3{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #e6e6e6; 
  padding-right: 50px;
}

.nav-bar4{
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  background: #e6e6e6;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li .hardcore1 {
  display: block;
  padding: 20px 25px;
  color: #00c603;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown3 li {
  display: block;
}

ul li ul.dropdown3 {
  width: 100%;
  background: #e6e6e6;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #d4d4d4;
}

ul li:hover ul.dropdown3 {
  display: block;
}

.container3 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
} 

.img-wrapper3{
  position: relative;
  overflow: hidden;
  
}

.img-wrapper3 > img {
  display: block;
}


.img-wrapper3 > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background: #00c603;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-wrapper3 > img, 
.img-wrapper3 > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper3 > .content.fade {
  opacity: 0;
}

.img-wrapper3:hover > .content.fade {
  opacity: 1;
}

/* dreampop */

.dreampop{
  font-size: 50px;
  line-height: 110%;
  height: 100vh;
  /* background-color: #FF6500; */
  background-color: #e6e6e6;
  color: #ff0099;
}

.flex-wrapper4{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #e6e6e6; 
  padding-right: 50px;
}

.nav-bar4{
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  background: #e6e6e6;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li .dreampop1 {
  display: block;
  padding: 20px 25px;
  color: #ff0099;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown4 li {
  display: block;
}

ul li ul.dropdown4 {
  width: 100%;
  background: #e6e6e6;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #d4d4d4;
}

ul li:hover ul.dropdown4 {
  display: block;
}

.container4 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
} 

.img-wrapper4{
  position: relative;
  overflow: hidden;
  
}

.img-wrapper4 > img {
  display: block;
}


.img-wrapper4 > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background: #ff0099;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-wrapper4 > img, 
.img-wrapper2 > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper4 > .content.fade {
  opacity: 0;
}

.img-wrapper4:hover > .content.fade {
  opacity: 1;
}

/* alternative */

.alternative{
  font-size: 50px;
  line-height: 110%;
  height: 100vh;
  /* background-color: #FF6500; */
  background-color: #e6e6e6;
  color: #ff0000;
}

.flex-wrapper5{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #e6e6e6; 
  padding-right: 50px;
}

.nav-bar5{
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  background: #e6e6e6;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li .alternative1 {
  display: block;
  padding: 20px 25px;
  color: #ff0000;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown5 li {
  display: block;
}

ul li ul.dropdown5 {
  width: 100%;
  background: #e6e6e6;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #d4d4d4;
}

ul li:hover ul.dropdown5 {
  display: block;
}

.container5 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
} 

.img-wrapper5{
  position: relative;
  overflow: hidden;
  
}

.img-wrapper5 > img {
  display: block;
}


.img-wrapper5 > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background: #ff0000;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-wrapper5 > img, 
.img-wrapper5 > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper5 > .content.fade {
  opacity: 0;
}

.img-wrapper5:hover > .content.fade {
  opacity: 1;
}

/* slowcore */

.slowcore{
  font-size: 50px;
  line-height: 110%;
  height: 100vh;
  /* background-color: #FF6500; */
  background-color: #e6e6e6;
  color: #8000ff;
}

.flex-wrapper6{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #e6e6e6; 
  padding-right: 50px;
}

.nav-bar6{
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  background: #e6e6e6;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li .slowcore1 {
  display: block;
  padding: 20px 25px;
  color: #8000ff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown6 li {
  display: block;
}

ul li ul.dropdown6 {
  width: 100%;
  background: #e6e6e6;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #d4d4d4;
}

ul li:hover ul.dropdown6 {
  display: block;
}

.container6 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
} 

.img-wrapper6{
  position: relative;
  overflow: hidden;
  
}

.img-wrapper6 > img {
  display: block;
}


.img-wrapper6 > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background: #8000ff;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-wrapper6 > img, 
.img-wrapper6 > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper6 > .content.fade {
  opacity: 0;
}

.img-wrapper6:hover > .content.fade {
  opacity: 1;
}



.entry-img {
  height: 400px;
  width: 400px;
}

.entry-img img{
  height: 100px;
  width: auto;
}

.entry-img1 {
  width: 300px;
  height: 450px;
}

.entry-img1 img{
  width: 300px;
  height: 450px;
}

.text-box {
  padding: 20px;
}

.content.fade  a {
  color: #000;
text-decoration: none;
}


